* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: 'Exo 2', sans-serif;
    padding-top: 122.5px;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: #022C16;
    color: white;
    width: 100%;
    text-align: center;

}

#titulo {
    padding: 15px;
}

.navlinks {
    /* font-size: 12px; */
    display: inline-block;
    width: 100%;
    text-align: left;
    /*background-color: RGB(2, 44, 22);*/
    background-color: RGB(0, 80, 7);
    padding-left: 40px;
    padding-right: 40px;
}

.navlinks li {
    display: inline-block;
    margin: 2px 0 3px 10px;
    /* padding: 5px; */
    color: white;
}

.navlinks li:hover {
    background-color: RGB(2, 44, 22);
    cursor: pointer;
}

.contato {
    float: right;
}

.conteudo {

    width: 100%;

}

.aside {
    background-color: #ebeaea;
    width: 20%;
    display: inline-block;
    padding: 20px;
    border-radius: 5%;
    vertical-align: top;
    margin-left: 2%;
    margin-bottom: 20px;
}

.aprendizado {
    display: inline-block;
    width: 73%;
}


.licoes {
    min-height: 300px;
    /* display: inline-block; */
    border-radius: 10px;
    background-color: #ebeaea;
    width: 73%;
    margin-left: 2%;
}


.listalicoes {
    padding: 20px;

}

#licoes_aprendidas {
    margin-bottom: 70px;
}

.licoes li {
    margin-bottom: 10px;
    list-style-position: inside;
}

.titulo_licoes {
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: RGB(0, 80, 7);

}

#minha_foto {
    width: 80%;
    border-radius: 50%;

}

.imagem {
    text-align: center;
}

.title_hard,
.title_soft {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}