* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0;
  background-color: #022C16;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
}
#titulo{
    font-family: 'Exo 2', sans-serif;
}